numpy==2.1.2
reedsolo==1.7.0
imageio==2.37.0
prettytable==3.16.0
tensorboard==2.20.0
tqdm==4.67.1

--index-url https://download.pytorch.org/whl/cu128
torch==2.7.1 
torchvision==0.22.1 
torchaudio==2.7.1
